<mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 offset-11">
        <ng-template [ngTemplateOutlet]="user"> </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>

<ng-template #user>
  <ng-container *ngIf="userRole === 'admin'; else isNotAdmin">
    <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/admin/dashboard">Dashboard</button>
      <button mat-menu-item (click)="onLogoutClick()">Logout</button>
    </mat-menu>
  </ng-container>
  <ng-template #isNotAdmin>
    <ng-container *ngIf="userRole === 'user'; else guest">
      <button mat-button [matMenuTriggerFor]="userMenu">Username</button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/">Profile</button>
        <button mat-menu-item (click)="onLogoutClick()">Logout</button>
      </mat-menu>
    </ng-container>
    <ng-template #guest>
      <button mat-button [matMenuTriggerFor]="guestMenu">Guest</button>
      <mat-menu #guestMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/admin/login">Login</button>
      </mat-menu>
    </ng-template>
  </ng-template>
</ng-template>
