<video autoplay muted loop id="video">
  <source src="../../assets/video/rain.mp4" type="video/mp4" />
</video>

<div class="content">
  <div class="container-fluid titles">
    <h1 class="text-right">Best Brands. Best Gadgets. Best Prices.</h1>
    <h4 class="text-right">In the best online shop</h4>
    </div>
  <div class="container-fluid d-flex justify-content-center button">
    <button class="btn btn-outline-light btn-lg" [routerLink]="['catalog']">
      Move to catalog!
    </button>
  </div>
</div>
