<div>
  <div id="pagManage">
    <div id="pageLimit">
      <p>Items per page:</p>
      <select
        #limitSelector
        (change)="onSelectorChange()"
        class="custom-select border border-success"
      >
        <option [value]="instance.pageSize" selected>
          {{ instance.pageSize }}
        </option>
        <ng-container *ngFor="let limit of instance.limits">
          <ng-container *ngIf="limit !== instance.pageSize">
            <option [value]="limit">{{ limit }}</option>
          </ng-container>
        </ng-container>
      </select>
    </div>
    <div id="pagingArrows">
      <svg
        [ngClass]="{ 'text-success': instance.currentPage > 1 }"
        (click)="instance.decrease()"
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-arrow-left"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
      <p>
        {{ instance.currentPage }} /
        {{ instance.pages }}
      </p>
      <svg
        [ngClass]="{ 'text-success': instance.currentPage + 1 <= instance.pages }"
        (click)="instance.increase()"
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-arrow-right"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
        />
      </svg>
    </div>
  </div>
</div>
