<mat-toolbar class="fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex align-items-center">
        <button
          mat-icon-button
          class="example-icon"
          (click)="emitBurgerClick()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div *ngIf="searchIsShow" class="col d-flex align-items-center justify-content-center">
        <app-search></app-search>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <button mat-icon-button [routerLink]="['wishlist']" class="example-icon">
          <mat-icon
            *ngIf="wishlisthLength; else emptyWishBadge"
            [matBadge]="wishlisthLength"
            matBadgeColor="warn"
          >favorite</mat-icon>
          <ng-template #emptyWishBadge>
            <mat-icon>favorite</mat-icon>
          </ng-template>
        </button>
        <button mat-icon-button [routerLink]="['cart']" class="example-icon">
          <mat-icon
            *ngIf="cartLength; else emptyCartBadge"
            [matBadge]="cartLength"
            matBadgeColor="warn"
            >shopping_cart</mat-icon
          >
          <ng-template #emptyCartBadge>
            <mat-icon>shopping_cart</mat-icon>
          </ng-template>
        </button>
        <ng-template [ngTemplateOutlet]="user"> </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>

<ng-template #user>
  <ng-container *ngIf="userRole === 'user'; else guest">
    <button mat-button [matMenuTriggerFor]="userMenu">Username</button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/">Profile</button>
      <button mat-menu-item (click)="emitLogoutClick()">Logout</button>
    </mat-menu>
  </ng-container>
  <ng-template #guest>
    <button mat-button [matMenuTriggerFor]="guestMenu">Guest</button>
    <mat-menu #guestMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/admin/login">Login</button>
    </mat-menu>
  </ng-template>
</ng-template>
