form{
    font-size: 14px;
    mat-form-field {
        mat-icon {
            vertical-align: middle;
        }
    }
}

mat-form-field {
    ::ng-deep .mat-form-field-wrapper {
        padding: 0;
    }
}
