<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="searchIsEnable">
      <div class="container-fluid mt-5 d-flex justify-content-center flex-wrap">
        <ng-container *ngIf="categoryData.length; else empty">
          <p class="lead w-100 text-center">
            Was found {{categoryData.length}} items at your request:
            <strong>"{{searchQuery}}"</strong>
          </p>
        </ng-container>

        <ng-template #empty>
          <p class="lead w-100 text-center">
            Nothing was found at your request:
            <strong>"{{searchQuery}}"</strong>
          </p>
        </ng-template>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="cancelSearch()"
        >
          Show All Items In That Category
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="categoryData.length">
      <ng-container *ngFor="let item of categoryData">
        <div class="col d-flex justify-content-center">
          <product-item
            [item]="item"
            [isInWishlist]="item.isInWishlist"
            [isInCart]="item.isInCart"
            (clickToContent)="openItemDetails($event)"
            (addToCart)="addToCart($event)"
            (deleteFromCart)="deleteFromCart($event)"
            (addToWishlist)="addToWishlist($event)"
            (deleteFromWishlist)="deleteFromWishlist($event)"
          ></product-item>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row mt-5 mb-2" *ngIf="categoryData.length">
    <div class="col d-flex justify-content-center">
      <app-paginator
        [collectionSize]="records"
        [page]="pageNumber"
        [pageSize]="pageSize"
        (pageChange)="onChangePage($event)"
      ></app-paginator>
    </div>
  </div>
</div>
