<button mat-icon-button class="example-icon" [routerLink]="['/catalog', 'phones']" (click)="emitCategoryClick()">
  <mat-icon>phone_iphone</mat-icon>
  <p>Phones</p>
</button>
<button mat-icon-button class="example-icon" [routerLink]="['/catalog', 'tablets']" (click)="emitCategoryClick()">
  <mat-icon>tablet</mat-icon>
  <p>Tablets</p>
</button>
<button mat-icon-button class="example-icon" [routerLink]="['/catalog', 'laptops']" (click)="emitCategoryClick()">
  <mat-icon>laptop</mat-icon>
  <p>Laptops</p>
</button>
