<div class="container mt-2">
  <app-carousel></app-carousel>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4">
      <filters></filters>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <nav ngbNav #categorySelector="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
              <a ngbNavLink routerLink="phones" >Phones</a>
              <ng-template ngbNavContent>
                <router-outlet></router-outlet>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink routerLink="tablets">Tablets</a>
              <ng-template ngbNavContent>
                <router-outlet></router-outlet>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem="laptops">
              <a ngbNavLink routerLink="laptops">Laptops</a>
              <ng-template ngbNavContent>
                <router-outlet></router-outlet>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="categorySelector" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
