<!-- <div class="container-fluid" *ngIf="cart.list.length; else emptyCart">
  <div class="row">
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-9 mt-2 mb-2" *ngFor="let item of cart.list">
          <mat-card>
            <mat-card-header class="justify-content-between">
              <button
                      mat-icon-button
                      *ngIf="checkItemForFav(item); else notInCart"
                      class="example-icon addCart"
                      (click)="checkInWishlist(item)"
              >
                <mat-icon color="warn">favorite</mat-icon>
              </button>
              <ng-template #notInCart>
                <button
                        mat-icon-button
                        class="example-icon addCart"
                        (click)="checkInWishlist(item)"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
              </ng-template>
              <button
                      mat-icon-button
                      class="example-icon favorite-icon"
                      (click)="openDeleteConfirming(item)"
              >
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-around">
              <img
                      class="img-fluid"
                      [src]="item.mainImage"
                      (click)="openItemDetails(item)"
              />
              <div
                      class="d-flex flex-wrap justify-content-center align-items-center"
                      class="p-3"
              >
                <h3 class="w-100 text-center" (click)="openItemDetails(item)">
                  {{ item.name }}
                </h3>
                <h5 class="w-100 text-center" (click)="openItemDetails(item)">
                  <strong>{{ item.price }} ₽</strong>
                </h5>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row">
      <div
        class="col d-flex flex-wrap justify-content-center align-items-center"
      >
        <h1 class="w-100 text-center">Cart is empty</h1>
        <div class="button-container mt-3">
          <button [routerLink]="['/', 'catalog']" mat-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->
