          <!-- <mat-card>
            <mat-card-header class="justify-content-between">
              <button
                      mat-icon-button
                      *ngIf="checkItemForFav(item); else notInWishlist"
                      class="example-icon addCart"
                      (click)="checkInWishlist(item)"
              >
                <mat-icon color="warn">favorite</mat-icon>
              </button>
              <ng-template #notInWishlist>
                <button
                        mat-icon-button
                        class="example-icon addCart"
                        (click)="checkInWishlist(item)"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
              </ng-template>
              <button
                      mat-icon-button
                      class="example-icon favorite-icon"
                      (click)="openDeleteConfirming(item)"
              >
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-around">
              <img
                      class="img-fluid"
                      [src]="item.mainImage"
                      (click)="openItemDetails(item)"
              />
              <div
                      class="d-flex flex-wrap justify-content-center align-items-center"
                      class="p-3"
              >
                <h3 class="w-100 text-center" (click)="openItemDetails(item)">
                  {{ item.name }}
                </h3>
                <h5 class="w-100 text-center" (click)="openItemDetails(item)">
                  <strong>{{ item.price }} ₽</strong>
                </h5>
                <div class="mt-5 mb-5">
                  <count-changer
                          [(ngModel)]="item.quantity"
                          (ngModelChange)="checkQuantityOfItem(item)"
                  ></count-changer>
                </div>
                <h5 class="text-center">
                  Product total price is {{ item.price * item.quantity }} ₽
                </h5>
              </div>
            </mat-card-content>
          </mat-card> -->