<form [formGroup]="searchForm" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Type a gadget name </mat-label>
    <input matInput [matAutocomplete]="autoComp" formControlName="field" />
    <mat-icon matPrefix>search</mat-icon>

    <mat-autocomplete panelWidth="auto" #autoComp="matAutocomplete">
      <ng-container *ngIf="searchField.value">
        <ng-container *ngFor="let item of searchResults">
          <mat-option (click)="openDetails(item)">
            <img class="miniImg" [src]="item.mainImage">
            <span>{{item.name}}</span>
          </mat-option>
        </ng-container>
        <ng-container *ngIf="emptyResult && !loading">
          <mat-option>
            <span>Items with that name not found</span>
          </mat-option>
        </ng-container>
        <ng-container *ngIf="loading">
          <mat-option>
            <span>Loading...</span>
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
